{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript"]
}
